{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% set doiNhomGiaoLy = object %}
    {% block doi_nhom_giao_ly %}
        {% if doiNhomGiaoLy is not empty %}
            {% set cacTruong = doiNhomGiaoLy.cacTruongPhuTrachDoi %}
            {% if cacTruong.count == 0 %}
                <span class="label label-info">Chưa có TRƯỞNG</span>
            {% endif %}
            {% for truong in cacTruong %}
                {% set number = truong.doiNhomGiaoLy.number %}
                <span class="label label-{{ truong.phanBo.thanhVien.sex == 'NAM'?'primary':'danger' }}">{{ truong.phanBo.thanhVien.lastname }} {{ truong.phanBo.thanhVien.middlename }} {{ truong.phanBo.thanhVien.firstname }}
                    ( {{ number }} )</span>
                <br/>
            {% endfor %}
        {% else %}
            <span class="label label-warning">Chưa có ĐỘI</span>
        {% endif %}
    {% endblock doi_nhom_giao_ly %}
{% endblock %}
