{% extends 'base.html.twig' %}
{% block head %}
    <meta http-equiv="refresh" content="5">
{% endblock %}
{% block body %}
    <header>
        <div class="bg-dark collapse" id="navbarHeader" style="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                         stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2"
                         viewBox="0 0 24 24" focusable="false">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <strong>Danh sách bầu cử Vòng 1</strong>
                </a>
                {#                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"#}
                {#                        data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"#}
                {#                        aria-label="Toggle navigation">#}
                {#                    <span class="navbar-toggler-icon"></span>#}
                {#                </button>#}
            </div>
        </div>
    </header>
    <main role="main">
        <section class="text-left">
            <div class="container">
                <a href="/" class="mt-1 btn btn-success">THOÁT</a>
                <h3>Cám ơn các anh chị đã gửi kết quả bầu cử.</h3>
                {% set url = "#" %}
                {% if top25[0].votes > 0 %}
                    <h3>Top 25</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Huynh Trưởng</th>
                            <th>Tổng phiếu</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for truong in top25 %}
                            {% if truong.votes > 0 %}
                                <tr>
                                    <td>
                                        <code>{{ truong.name }}</code>
                                        <br>
                                        <a href="{{ path('vote_vong_bau_cu_my_vote_for_truong',{pin:pin, truongId: truong.id}) }}"
                                           class="btn btn-info">XEM PHIẾU BẦU</a>
                                    </td>
                                    <td>{{ truong.votes }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if top25[0].votes > 0 %}
                    <h3>Danh sách còn lại</h3>
                {% endif %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Huynh Trưởng</th>
                        <th>Tổng phiếu</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for truong in conLai %}
                        <tr>
                            <td>
                                <code>{{ truong.name }}</code>
                                <br>
                                <a href="{{ path('vote_vong_bau_cu_my_vote_for_truong',{pin:pin, truongId: truong.id}) }}"
                                   class="btn btn-info">XEM PHIẾU BẦU</a>                            </td>
                            <td>{{ truong.votes }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer class="text-muted">
        <div class="container">
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function formatPrice(val, row) {
            return '';
            // if (val < 30){
            //     return '<span style="color:red;">('+val+')</span>';
            // } else {
            //     return val;
            // }
        }
    </script>
    <script type="text/javascript" src="/easyui/datagrid-filter.js"></script>
    <script type="text/javascript">
        var data = [
            {
                "productname": 'PHANXICO XAVIE <br/><strong><code>CHA CHU GIA NGHĨA</code></strong><br/>aka: <strong>Loan nhỏ</strong><br>Năm sinh: 1987<br/>NGHĨA SĨ<br/>15 tuổi<div class="text-right"><a href="https://google.com" class="btn btn-primary">Bầu chọn </a></div>',
                "unitcost": 12.00,
                "status": "P",
                "listprice": 18.50,
                "attr1": "Spotted Adult Female"
            },
        ];
        $(function () {
            var dg = $('#dg').datagrid();
            dg.datagrid('enableFilter', [{
                field: 'listprice',
                type: 'numberbox',
                options: {precision: 1},
                op: ['equal', 'notequal', 'less', 'greater']
            }, {
                field: 'unitcost',
                type: 'numberbox',
                options: {precision: 1},
                op: ['equal', 'notequal', 'less', 'greater']
            }, {
                field: 'status',
                type: 'combobox',
                options: {
                    panelHeight: 'auto',
                    data: [{value: '', text: 'All'}, {value: 'P', text: 'P'}, {value: 'N', text: 'N'}],
                    onChange: function (value) {
                        if (value == '') {
                            dg.datagrid('removeFilterRule', 'status');
                        } else {
                            dg.datagrid('addFilterRule', {
                                field: 'status',
                                op: 'equal',
                                value: value
                            });
                        }
                        dg.datagrid('doFilter');
                    }
                }
            }]);
        });
    </script>
{% endblock %}