{% extends 'base.html.twig' %}
{% block title %}Kết quả bầu cử{% endblock %}
{% block head %}
    {#    <meta http-equiv="refresh" content="1"> #}
{% endblock %}
{% block body %}
    <header>
        <div class="bg-dark collapse" id="navbarHeader" style="">
            <div class="container">

            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                         stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2"
                         viewBox="0 0 24 24" focusable="false">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <strong>Danh sách bầu cử Vòng 1</strong>
                </a>
                {#                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"#}
                {#                        data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"#}
                {#                        aria-label="Toggle navigation">#}
                {#                    <span class="navbar-toggler-icon"></span>#}
                {#                </button>#}
            </div>
        </div>
    </header>

    <main role="main">
        <section class="text-left">
            <div class="container">
                {% set url = "#" %}
                <h3>Có {{ cacCuTriDaBau|length }} Trưởng đã nộp kết quả bầu cử.</h3>
                <a href="/quy-dinh/2020-2024.docx">Xem Quy định bầu cử.</a>
                {% if topVong1[0].vong1 > 0 %}
                    <h3>Top {{ topVong1|length }}{% if  topVong1|length != quyDinhTop %}/{{ quyDinhTop }}{% endif %}</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Huynh Trưởng</th>
                            <th>Tổng phiếu</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for truong in topVong1 %}
                            {% if truong.vong1 > 0 %}
                                <tr>
                                    <td>
                                        <code>{{ loop.index }}. {{ truong.name }}</code>
                                        <br>
                                        <a href="{{ path('vote_vong_1_votes_for_truong',{year:year, truongId: truong.id}) }}"
                                           class="btn btn-info">XEM PHIẾU BẦU</a>
                                    </td>
                                    <td>{{ truong.vong1 }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if dsPhu | length > 0 %}
                    <h3>Danh sách Phụ</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Huynh Trưởng</th>
                            <th>Tổng phiếu</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for truong in dsPhu %}
                            <tr>
                                <td>
                                    <code>{{ loop.index }}. {{ truong.name }}</code>
                                    <br>
                                    <a href="{{ path('vote_vong_1_votes_for_truong',{year:year, truongId: truong.id}) }}"
                                       class="btn btn-info">XEM PHIẾU BẦU</a>
                                </td>
                                <td>{{ truong.vong1 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if topVong1[0].vong1 > 0 %}
                    <h3>Danh sách còn lại</h3>
                {% endif %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Huynh Trưởng</th>
                        <th>Tổng phiếu</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for truong in conLai %}
                        <tr>
                            <td>
                                <code>{{ loop.index }}. {{ truong.name }}</code>
                                <br>
                                <a href="{{ path('vote_vong_1_votes_for_truong',{year:year, truongId: truong.id}) }}"
                                   class="btn btn-info">XEM PHIẾU BẦU</a>
                            </td>
                            <td>{{ truong.vong1 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer class="text-muted">
        <div class="container">
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function formatPrice(val, row) {
            return '';
            // if (val < 30){
            //     return '<span style="color:red;">('+val+')</span>';
            // } else {
            //     return val;
            // }
        }
    </script>
    <script type="text/javascript" src="/easyui/datagrid-filter.js"></script>
    <script type="text/javascript">
    </script>
{% endblock %}