{% block user_block %}
    {% if app.user %}
        {% set _bg_class          = "bg-light-blue" %}
        {% set _logout_uri        = url('fos_user_security_logout') %}
        {% set _logout_text       = 'layout.logout'|trans({}, 'FOSUserBundle') %}
        {#{% set _profile_uri       = sonata_user.userAdmin.isGranted('EDIT', app.user) ? sonata_user.userAdmin.generateUrl('edit', {id: app.user.id}) : sonata_user.userAdmin.generateUrl('show', {id: app.user.id}) %}#}
        {% set _profile_text      = 'profile_edit'|trans({}, 'FOSUserBundle') %}
        {% set _user_image        = 'https://gooddonegreat.com/app/img/placeholders/avatar-150x150.png' %}

        {% set _profile_uri       = url('fos_user_profile_edit') %}

        {# Customize this with your profile picture implementation, see below for example #}
        {#{% set _user_image  = app.user.profilePicture|default(asset(sonata_user.defaultAvatar)) %}#}

        {% if is_granted('ROLE_PREVIOUS_ADMIN') and sonata_user.impersonating %}
            {% set _bg_class    = "bg-light-green" %}
            {% set _logout_uri  = url(sonata_user.impersonating.route, sonata_user.impersonating.parameters| merge({'_switch_user': '_exit'})) %}
            {% set _logout_text = '(exit)' %}
        {% endif %}

        <li class="user-header {{ _bg_class }}">
            {% if _user_image %}
                <img src="{{ _user_image }}" class="img-circle" alt="Avatar"/>
            {% endif %}
            <p>{{ app.user }}</p>
            {% if app.user.thanhVien is not empty %}
                {% set tv = app.user.thanhVien %}
                <p>
                    {% if tv.chiDoan is not empty %}
                        <strong>Chi-đoàn:</strong> {{ tv.chiDoan }}
                    {% else %}
                        <strong>Phân-đoàn:</strong> {{ tv.phanDoan|trans({},'BinhLeAdmin') }}
                    {% endif %}
                </p>
            {% endif %}
        </li>
        {#
            Uncomment to add some information
                <li class="user-body">

                </li>
        #}

        <li class="user-footer">
            <div class="pull-left">
                <a href="{{ _profile_uri }}" class="btn btn-default btn-flat"><i
                            class="fa fa-user"></i> {{ _profile_text }}</a>
            </div>

            <div class="pull-right">
                <a href="{{ _logout_uri }}" class="btn btn-default btn-flat"><i
                            class="fa fa-sign-out fa-fw"></i> {{ _logout_text }}</a>
            </div>
        </li>
    {% endif %}
{% endblock %}
