{#{% extends '@SonataAdmin/CRUD/base_list_inner_row.html.twig' %}#}
{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% for field_description in admin.list.elements %}
    {% if field_description.name == '_action' and app.request.isXmlHttpRequest %}
        {# Action buttons disabled in ajax view! #}
    {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
        {# Disable fields with 'ajax_hidden' option set to true #}
    {% else %}
        {{ object|render_list_element(field_description) }}
    {% endif %}
{% endfor %}

{% set pbTruong = app.user.thanhVien.phanBoNamNay %}

{% for dcc in admin.getTargetDates('CN') %}
    {% set x = object.initiateDiemDanhCache() %}

    {% if pbTruong.quanLy(object) or pbTruong.phanDoan == 'PHAN_DOAN_TONG_DO' or pbTruong.phanDoan == 'PHAN_DOAN_NGHIA' %}
        {% if dcc.massCounted == true %}
        <td class="ace-container sonata-ba-list-field sonata-ba-list-field-actions" objectid="{{ object.id }}"
            data-enable-url="{{ path('admin_app_hoso_thanhvien_thieunhi_diemDanh',{ id: object.thanhVien.id, truongId: app.user.thanhVien.id, dtStr: dcc.targetDate.format('Y-m-d H:i:s'),type: 'LE_CN',action: 'present'}) }}"
            data-remove-url="{{ path('admin_app_hoso_thanhvien_thieunhi_diemDanh',{ id: object.thanhVien.id, truongId: app.user.thanhVien.id, dtStr: dcc.targetDate.format('Y-m-d H:i:s'),type: 'LE_CN',action: 'absent'}) }}"
            data-status-url="{{ path('admin_app_hoso_thanhvien_thieunhi_diemDanh',{ id: object.thanhVien.id, truongId: app.user.thanhVien.id, dtStr: dcc.targetDate.format('Y-m-d H:i:s'),type: 'LE_CN',action: 'status'}) }}"
        >

            <input class="ace" type="checkbox"
                   autocomplete="off" {{ object.getHienDienByDiemChuyenCan(dcc,'LE_CN') is not empty?'checked="checked"' : '' }} />

        </td>
        {% endif %}
        {% if dcc.studyCounted == true %}
        <td class="ace-container sonata-ba-list-field sonata-ba-list-field-actions" objectid="{{ object.id }}"
            data-enable-url="{{ path('admin_app_hoso_thanhvien_thieunhi_diemDanh',{ id: object.thanhVien.id, truongId: app.user.thanhVien.id, dtStr: dcc.targetDate.format('Y-m-d H:i:s'),type: 'GIAO_LY',action: 'present'}) }}"
            data-remove-url="{{ path('admin_app_hoso_thanhvien_thieunhi_diemDanh',{ id: object.thanhVien.id, truongId: app.user.thanhVien.id, dtStr: dcc.targetDate.format('Y-m-d H:i:s'),type: 'GIAO_LY',action: 'absent'}) }}"
            data-status-url="{{ path('admin_app_hoso_thanhvien_thieunhi_diemDanh',{ id: object.thanhVien.id, truongId: app.user.thanhVien.id, dtStr: dcc.targetDate.format('Y-m-d H:i:s'),type: 'GIAO_LY',action: 'status'}) }}"
        >

            <input class="ace" type="checkbox"
                   autocomplete="off" {{ object.getHienDienByDiemChuyenCan(dcc,'GIAO_LY') is not empty?'checked="checked"' : '' }} />
        </td>
        {% endif %}
    {% else %}
        {% if dcc.massCounted is not empty %}

            <td class="sonata-ba-list-field sonata-ba-list-field-actions">
            <input class="ace disabled" type="checkbox" disabled="disabled"
                   autocomplete="off" {{ object.getHienDienByDiemChuyenCan(dcc,'LE_CN') is not empty?'checked="checked"' : '' }} />
        </td>
        {% endif %}
        {% if dcc.studyCounted is not empty %}

            <td class="sonata-ba-list-field sonata-ba-list-field-actions">
            <input class="ace disabled" type="checkbox" disabled="disabled"
                   autocomplete="off" {{ object.getHienDienByDiemChuyenCan(dcc,'GIAO_LY') is not empty?'checked="checked"' : '' }} />
        </td>
        {% endif %}

    {% endif %}


{% endfor %}
